<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pierwszy projekt springowy</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Przedstaw się ładnie:</h1>
        <form action="/hello" method="post">
            Imię: <input type="text" name="imie" />
            Wiek: <input type="number" name="wiek" />
            <input type="submit" value="Wyślij" />
        </form>
        
        <h3>DODAWANIE</h3>
        <form action="/calculator" method="post">
            Pierwsza liczba <input type="number" name="x" />
            Druga liczba <input type="number" name="y" />
            <input type="submit" value="Dodaj" />
        </form>
        
        <h3>KALKULATOR</h3>
        <form action="/calculator_3" method="post">
            Pierwsza liczba <input type="number" name="x" />
            <select name="dzialanie">
		<option>+</option>
		<option>-</option>
		<option>*</option>
            </select>
            Druga liczba <input type="number" name="y" />
            <input type="submit" value="Dodaj" />
        </form>
    </body>
</html>